body {
    margin: 0;
}

#content {
    width: 1100px;
    margin: 0 auto;
}

@media(max-width: 1100px) {
    #content {
        width: 100%;
    }
}

#nav {
    width: 100%;
    background-color: black;
    font-family: 'Oleo Script Swash Caps', cursive
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 8px; 
    overflow:hidden;
}

#nav li { float :left; }
#nav li a {
    display: block;
    background-color: black;
    color: white;
    padding: 8px;
    text-decoration: none;
    text-align: cetner;
    font-weight: bold;
}
#nav li a.current {
    color: gray;
}
#nav li a:hover:not(.current) {
    color: darkgray;
}


#footer {
    width: 100%;
    background-color: black;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#footer span {
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive
}